{% extends 'base.html.twig' %}

{% block title %}{{ 'frontend.title'|trans }} - {{ 'frontend.guest.confirm_attendence'|trans }}{% endblock %}

{% block main %}
<div id="first-section" class="section section-basic">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="section-description text-center sr">
                    <h2 class="title">{{ 'frontend.guestbook.title'|trans|raw }}</h2>
                </div>
                {{ include('guest/partials/card-list.html.twig', {'pagination': pagination}) }}
            </div>
        </div>
    </div>
</div>
<div id="first-section" class="section section-basic section-purple-gradient sr">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="section-description text-center sr">
                    <h2>{{ 'frontend.guestbook.send_message'|trans }}</h2>
                    <p class="description">{{ 'frontend.guestbook.description'|trans }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mr-auto ml-auto">
                <div class="card">
                    {{ form_start(form) }}                    
                    <div class="card-body">
                        {{ form_errors(form) }}                         
                        <div class="row">
                            <div class="col form-group bmd-form-group{% if not form.name.vars.valid %} has-danger{% endif %}">
                                {{ form_label(form.name, form.name, {'label_attr': {'class': 'bmd-label-floating'}}) }}
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.name) }}
                                {% if not form.name.vars.valid %}
                                    <span class="material-icons form-control-feedback">clear</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group bmd-form-group{% if not form.message.vars.valid %} has-danger{% endif %}">
                                {{ form_label(form.message, form.message, {'label_attr': {'class': 'bmd-label-floating'}}) }}
                                {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 5}}) }}
                                {{ form_errors(form.message) }}
                                {% if not form.message.vars.valid %}
                                    <span class="material-icons form-control-feedback">clear</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-12 form-group">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary pull-right'}}) }}
                        </div>                        
                    </div>
                    {{ form_end(form) }}                    
                </div>
            </div>                        
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            {# Load comment form #}
            $('a[data-comments]').click(function(e) {
                e.preventDefault();
                var url = $(this).prop('href');
                $.ajax({
                    url: url,
                    type: 'POST'
                }).done(function (responseJSON) {
//                    $('#burger-button').trigger('click');
                    $('#ogd-modal').find('.modal-body').html(responseJSON.view);
                    $('#ogd-modal').modal('show');
                });
            });

            {# Submit enquiry form #}
            $('body').on('submit', 'form[name="greeting_comment"]', function(e) {
                e.preventDefault();
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                }).done(function (responseJSON) {
                    $('#ogd-modal').find('.modal-body').html(responseJSON.view);
                    $('#greeting_comment_content').val('');
                    $('a[data-comments="' + responseJSON.data_comments + '"]').html('<i class="fa fa-comment"></i> ' + responseJSON.comments);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.responseJSON.hasOwnProperty('view')) {
                        $('#ogd-modal').find('.modal-body').html(jqXHR.responseJSON.view);
                    }
                });
            });
        });
    </script>
{% endblock %}
