{% trans_default_domain 'AppBundle' %}
<div class="card card-plain card-blog sr">
    <div class="row">
        <div class="col-sm-6">
            <a href="{{ path('post', { 'id': post.id }) }}" class="header">
                <img src="{{ app_uploader_path(post, 'coverPictureFile')|data_uri }}" class="{{ ['img-raised rounded img-fluid']|join(' ') }}">
            </a>
        </div>
        <div class="col-sm-5 col-md-offset-1">
            <div class="content">
                <a href="{{ path('post', { 'id': post.id }) }}" class="card-title">
                    <h2 class="text-center">{{ post.title }}</h2>
                </a>
                <div class="card-blog-bar">
                    <div class="left">
                        <span class="text-muted">{{ 'frontend.post.published'|trans }}: {{ post.publishedAt|elapsed_time('AppBundle') }}</span>
                    </div>
                    <div class="right">
                        <span class="text-muted"><i class="fa fa-comment"></i>  {{ post.comments|length }}</span>
                        <a href="{{ path('post_like', {'id': post.id}) }}" class="badge badge-danger" title="{{'frontend.news.likes.tooltip'|trans({}, 'AppBundle')}}">
                            <i class="fa fa-heart"></i>  {{ post.likes }}
                        </a>
                    </div>
                </div>
                {% if post.content %}
                    <p class="description">{{ post.content }}</p>
                {% endif %}

                {# <a href="gaia" class="btn btn-danger btn-fill">Read More</a> #}

            </div>
        </div>
    </div>
</div>