<div class="col-12">
    {% set styles = ['primary', 'info', 'success', 'warning', 'danger', 'rose'] %}
    <div class="row">
        {% for column in columns %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12">
            {% for greeting in column %}
                {% set style = styles[(greeting.createdAt|date('U')) % (styles|length)] %}
                <div class="card card-sr bg-{{ style }}">
                    <div class="card-body">
                        <div class="card-category text-right">
                            <i class="material-icons">schedule</i> {{ greeting.publishedAt|elapsed_time('AppBundle') }}
                        </div>
                        <h4 class="card-title justify-content-center">{{ greeting.message }}</h4>
                    </div>
                    <div class="card-footer">
                        <div class="author">
                            {{ include('@App/partials/avatar.html.twig', { 'user': greeting.user, 'classes': ['avatar', 'img-raised'], 'alt': greeting.name }) }}
                            <span>{{ greeting.name }}</span>
                        </div>
                        <div class="stats ml-auto">
                            <a href="{{ path('greeting_like', {'id': greeting.id, 'page': app.request.attributes.get('page')}) }}" class="badge badge-danger" title="{{'frontend.guestbook.likes.tooltip'|trans({}, 'AppBundle')}}" data-toggle="tooltip">
                                <i class="fa fa-heart"></i>  {{ greeting.likes }}
                            </a>
                            <a href="{{ path('greeting_comments', {'id': greeting.id}) }}" class="badge badge-secondary" title="{{'frontend.guestbook.comments.tooltip'|trans({}, 'AppBundle')}}" data-toggle="tooltip" data-comments="{{ greeting.id }}">
                                <i class="fa fa-comment"></i>  {{ greeting.comments|length }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="col-8 ml-auto sr">
    {{ knp_pagination_render(pagination, '@App/partials/knp_pagination.html.twig') }}
</div>
