{% use "form_div_layout.html.twig" %}

{# Widgets #}

{#{%- block checkbox_widget -%}#}
    {#<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />#}
{#{%- endblock checkbox_widget -%}#}

{#{%- block radio_widget -%}#}
    {#<input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />#}
{#{%- endblock radio_widget -%}#}


{# Errors #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form is not rootform %}
            <span class="bmd-error"><ul class="list-unstyled">
            {%- for error in errors -%}
                <li><i class="material-icons">error_outline</i> {{ error.message|trans }}</li>
            {%- endfor -%}
            </ul></span>
        {% else %}
            <div class="alert alert-danger"><div class="container">
            {%- for error in errors -%}
                <div class="alert-icon">
                    <i class="material-icons">error_outline</i>
                </div> <b>{{ 'frontend.error'|trans }}</b> {{ error.message|trans }}
            {%- endfor -%}
            </div></div>
        {% endif %}
    {%- endif %}
{%- endblock form_errors %}
