{% if flashes|length > 0 %}
    {% for flash in flashes %}
        <div class="alert alert-{{ flash.class }}">
            <div class="container-fluid">
                <div class="alert-icon">
                    <i class="material-icons">{{ flash.icon }}</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                <b>Info alert:</b> {{ flash.message|trans }}
                {% if flash.type == 'success' %}
                    <b>Success Alert:</b> {{ flash.message|raw }}
                {% elseif flash.type == 'notice' %}
                    <b>Warning Alert:</b> {{ flash.message|raw }}
                {% elseif flash.type == 'error' %}
                    <b>Error Alert:</b> {{ flash.message|raw }}
                {% else %}
                    <b>Info alert:</b> {{ flash.message|raw }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}