{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'resetting.reset.title'|trans }}{% endblock %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-5 col-xs-12 ml-auto mr-auto">
            <div class="card card-signup">
                <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">{{ 'resetting.reset.title'|trans }}</h4>
                </div>
                <div class="card-body">
                    {% include "@FOSUser/Resetting/request_content.html.twig" %}
                </div>
                <div class="card-footer">
                    <div class="col-md-6 col-xs-12">
                        <a href="{{ path('fos_user_security_login') }}">
                            <h6 class="text-left">{{ 'resetting.login'|trans }}</h6>
                        </a>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <a href="{{ path('homepage') }}">
                            <h6 class="text-right">{{ 'resetting.back'|trans }}</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}

