{% extends '@App/base.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block title %}{{ 'frontend.title'|trans }}{% endblock %}

{% block body %}
<div class="login-page sidebar-collapse">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-rose fixed-top navbar-transparent" color-on-scroll="50">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    {{ 'frontend.title'|trans({}, 'AppBundle') }}
                </a>
                <button id="burger-button" class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            {% image 'bundles/app/images/blurred-image-1.jpg' %}
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="{{ asset_url }}">
                {{ knp_menu_render('main', {'template': '@App/partials/knp_menu.html.twig'}) }}
                {{ knp_menu_render('social', {'template': '@App/partials/knp_menu.html.twig'}) }}
            </div>
            {% endimage %}
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="wrapper">
        <!-- Content Page -->
        {% image 'bundles/app/images/header.jpg' %}
        <div class="parallax" style="background-image: url('{{ asset_url }}');">
            <div class="filter filter-color-black">
                <div class="container">
                    {% if form is defined %}
                        {% form_theme form "@App/form/fields.html.twig" %}
                    {% endif %}

                    {% block fos_user_content %}{% endblock %}
                </div>
            </div>
        </div>
        {% endimage %}
        <!-- End Content Page -->

        <!-- Footer -->
        <footer class="footer footer-black">
            <div class="container">
                <div class="copyright">
                    <p>© 2018, made with <i class="fa fa-heart heart"></i> by <a href="https://github.com/abbarrasa/our-great-day">Alberto Buitrago</a> for a better web. Thanks to <a href="http://www.creative-tim.com">Creative Tim</a>.</p>
                </div>
                <div class="version">v{{ version }}</div>
            </div>
        </footer>
        <!-- End Footer -->

        <!-- Modal -->
        {{ include('@App/partials/modal.html.twig') }}
        <!-- End Modal -->
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var height = $('.parallax .container').height();
            if (height > 480) {
                height = (height + 175) + 'px';
                $('.login-page .parallax').css('height', height);
                $('.login-page .parallax .filter').css('height', height);
            }
        });
    </script>
{% endblock %}
