{% block subject %}{% endblock %}

{% block body_plain %}{% endblock %}

{% block body_html %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width"/>

        <style type="text/css">
            * { margin: 0; padding: 0; font-size: 100%; font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; line-height: 1.65; }
            img { max-width: 100%; margin: 0 auto; display: block; }
            body, .body-wrap { width: 100% !important; height: 100%; background: #f8f8f8; }
            a { color: #9c27b0; text-decoration: none; }
            a:hover { text-decoration: underline; }
            .text-center { text-align: center; }
            .text-right { text-align: right; }
            .text-left { text-align: left; }
            h1, h2, h3, h4, h5, h6 { margin-bottom: 20px; line-height: 1.25; }
            h1 { font-size: 32px; }
            h2 { font-size: 28px; }
            h3 { font-size: 24px; }
            h4 { font-size: 20px; }
            h5 { font-size: 16px; }
            p, ul, ol { font-size: 16px; font-weight: normal; margin-bottom: 20px; }
            .container { display: block !important; clear: both !important; margin: 0 auto !important; max-width: 580px !important; }
            .container table { width: 100% !important; border-collapse: collapse; }
            .container .masthead { padding: 15px 35px; background-color: #ec407a; color: #fff; }
            .container .masthead a { color: #fff; }
            .container .masthead a:hover { color: #fff; text-decoration: none; }
            .container .masthead .title { float: left; }
            .container .masthead .subtitle { float: right; text-transform: uppercase; }
            .container .content { background: white; padding: 30px 35px; border-style: solid; border-color: #ec407a; border-width: 22px 1px 1px 1px; }
            .container .content.footer { background: none; border: 0; }
            .container .content.footer p { margin-bottom: 0; color: #888; text-align: center; font-size: 14px; }
            .container .content.footer a { color: #888; text-decoration: none; font-weight: bold; }
            .container .content.footer a:hover { text-decoration: underline; }
            .btn { display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid transparent; padding: .46875rem 1rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
            .btn:focus, .btn:hover { text-decoration: none; }
            .btn:focus { outline: 0; box-shadow: 0 0 0 .2rem rgba(33, 150, 243, .25); }
            .btn.disabled, .btn:disabled { opacity: .65; box-shadow: none; }
            .btn:not(:disabled):not(.disabled) { cursor: pointer; }
            .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active { background-image: none; box-shadow: none; }
            .btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus { box-shadow: 0 0 0 .2rem rgba(33, 150, 243, .25), none; }
            a.btn.disabled { pointer-events: none; }
            .btn.btn-primary { color: #fff; background-color: #9c27b0; border-color: #9c27b0; box-shadow: 0 2px 2px 0 rgba(156, 39, 176, .14), 0 3px 1px -2px rgba(156, 39, 176, .2), 0 1px 5px 0 rgba(156, 39, 176, .12); }
            .btn.btn-primary.focus, .btn.btn-primary:focus, .btn.btn-primary:hover { color: #fff; background-color: #9124a3; border-color: #701c7e; }
            .btn.btn-primary.active, .btn.btn-primary:active { color: #fff; background-color: #9124a3; border-color: #701c7e; box-shadow: 0 2px 2px 0 rgba(156, 39, 176, .14), 0 3px 1px -2px rgba(156, 39, 176, .2), 0 1px 5px 0 rgba(156, 39, 176, .12); }
            .btn.btn-primary.active.focus, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .btn.btn-primary:active.focus, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover { color: #fff; background-color: #9124a3; border-color: #3f1048; }
            .btn.btn-primary.disabled.focus, .btn.btn-primary.disabled:focus, .btn.btn-primary.disabled:hover, .btn.btn-primary:disabled.focus, .btn.btn-primary:disabled:focus, .btn.btn-primary:disabled:hover { background-color: #9c27b0; border-color: #9c27b0; }
            .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover { box-shadow: 0 14px 26px -12px rgba(156, 39, 176, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(156, 39, 176, .2); }
            .btn.btn-primary.btn-link { box-shadow: none; }
            .btn.btn-primary.btn-link, .btn.btn-primary.btn-link:active, .btn.btn-primary.btn-link:focus, .btn.btn-primary.btn-link:hover { background-color: transparent; color: #9c27b0; }
            .btn.btn-icon { border-radius: 25px; padding: 6px 11px; }
            .btn-circle { border-radius: 50%; padding: 0.1em; width:1.8em; padding: 6px 0 !important; }
            .btn-facebook { border-color: #3b5998; color: #3b5998; }
            .btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active { background-color: #3b5998; border-color: #3b5998; color: rgba(255, 255, 255, 0.7); }
            .btn-facebook:disabled, .btn-facebook[disabled], .btn-facebook.disabled { background-color: transparent; border-color: #3b5998; }
            .btn-facebook.btn-fill { color: #FFFFFF; background-color: #3b5998; opacity: 0.8; }
            .btn-facebook.btn-fill:hover, .btn-facebook.btn-fill:focus, .btn-facebook.btn-fill:active, .btn-facebook.btn-fill.active { background-color: #3b5998; border-color: #3b5998; color: #FFFFFF; opacity: 1; }
            .btn-twitter { border-color: #55acee; color: #55acee; }
            .btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active { background-color: #55acee; border-color: #55acee; color: rgba(255, 255, 255, 0.7); }
            .btn-twitter:disabled, .btn-twitter[disabled], .btn-twitter.disabled { background-color: transparent; border-color: #55acee; }
            .btn-twitter.btn-fill { color: #FFFFFF; background-color: #55acee; opacity: 0.8; }
            .btn-twitter.btn-fill:hover, .btn-twitter.btn-fill:focus, .btn-twitter.btn-fill:active, .btn-twitter.btn-fill.active { background-color: #55acee; border-color: #55acee; color: #FFFFFF; opacity: 1; }
            .btn-google { border-color: #dd4b39; color: #dd4b39; }
            .btn-google:hover, .btn-google:focus, .btn-google:active, .btn-google.active { background-color: #dd4b39; border-color: #dd4b39; color: rgba(255, 255, 255, 0.7); }
            .btn-google:disabled, .btn-google[disabled], .btn-google.disabled { background-color: transparent; border-color: #dd4b39; }
            .btn-google.btn-fill { color: #FFFFFF; background-color: #dd4b39; opacity: 0.8; }
            .btn-google.btn-fill:hover, .btn-google.btn-fill:focus, .btn-google.btn-fill:active, .btn-google.btn-fill.active { background-color: #dd4b39; border-color: #dd4b39; color: #FFFFFF; opacity: 1; }
        </style>
    </head>
    <body>
        <table class="body-wrap">
            <tr>
                <td class="container">
                    <!-- Message start -->
                    <table>
                        <tr>
                            <td class="masthead">
                                <a href="{{ path('homepage') }}">
                                    <span class="title">VeroyCarlos</span>
                                    <span class="subtitle">{{ 'frontend.title'|trans }}</span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="header-small.jpg">
                            </td>
                        </tr>
                        <tr>
                            <td class="content">
                            {% block content_html %}{% endblock %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="container">
                    <table>
                        <tr>
                            <td class="content footer" align="center">
                                <p>
                                    {{ twitter_social_link('<img src="font-awesome_4-7-0_twitter.png">', {'class': 'btn btn-icon btn-fill btn-circle btn-twitter'}) }}
                                    {{ facebook_social_link('<img src="font-awesome_4-7-0_facebook.png">', {'class': 'btn btn-icon btn-fill btn-circle btn-facebook'}) }}
                                    {{ googleplus_social_link('<img src="font-awesome_4-7-0_google-plus.png">', {'class': 'btn btn-icon btn-fill btn-circle btn-google'}) }}
                                </p>
                                <p>Sent by <a href="{{ absolute_url(path('homepage')) }}">Vero y Carlos</a></p>
                                <p>You can contact us by <a href="mailto:{{ email_admin }}">email</a></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
{% endblock %}
