{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '../app/Resources/public/css/timeline.css'
    '../app/Resources/public/css/flipclock.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet" type='text/css'>
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ 'frontend.title'|trans }}{% endblock %}

{% block main %}
    <!-- Countdown -->
    <div id="first-section" class="section section-basic sr">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center ml-auto mr-auto">
                    <div class="section-description">
                        <h2 class="title">{{ 'frontend.welcome.title'|trans|raw }}</h2>
                        <p class="description">Han sido muchos años para crearlo, regarlo, mimarlo y hacerlo crecer fuerte y con firmeza. Ha sido un poco menos de tiempo decidir dar el paso. Hablamos de nuestro amor y de nuestra futura boda. Y ahora nos vemos aquí, presentando e informando de todos los datos importantes del evento y en busca de invitados, porque... ¿Pueden existir personas más especiales y maravillosas que vosotr@s para acompañarnos en ese momento? Así que no lo pienses más, ten planeado qué ponerte, el Bodorriol siempre a mano y prepárate para que Nuestro Gran Día sea un día especial también para ti. Confirma tu asistencia rápidamente o te llamaremos sin falta . ¡Y date prisa que cada vez queda menos!.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 mr-auto ml-auto">
                    <div id="countdown"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Countdown -->

    <!-- Bio cards -->
    {% image '../app/Resources/public/images/wedding-rings.jpg' %}
    <div class="section section-line-image" style="background-image: url('{{ asset_url }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center ml-auto mr-auto">
                    <div class="section-description">
                        <h2 class="title sr">{{ 'frontend.bio.title'|trans|raw }}</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    {{ include('default/partials/profiles.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    {% endimage %}


    {#<div class="section section-basic section-dark">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-8 text-center ml-auto mr-auto">#}
                    {#<div class="section-description">#}
                        {#<h2 class="title sr">{{ 'frontend.bio.title'|trans|raw }}</h2>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-md-8 mr-auto ml-auto">#}
                    {#{{ include('default/partials/profiles.html.twig') }}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}


    {#<div class="section section-basic section-white-to-gray sr">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-8 mr-auto ml-auto">#}
                    {#<h2 class="title">{{ 'frontend.profiles.title'|trans|raw }}</h2>#}
                    {#{{ include('default/partials/profiles.html.twig') }}#}
                {#</div>            #}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <!-- End Bio cards -->

    <!-- Timeline -->
    <div class="section section-basic section-white-to-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center ml-auto mr-auto">
                    <div class="section-description sr">
                        <h2 class="title">{{ 'frontend.timeline.title'|trans|raw |trans|raw }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mr-auto ml-auto">
                    {{ include('default/partials/timeline.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    {#<div class="section section-basic section-gray sr">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-12 mr-auto ml-auto">            #}
                    {#<h2 class="title">{{ 'frontend.timeline.title'|trans|raw }}</h2>#}
                    {#{{ include('default/partials/timeline.html.twig') }}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <!-- End Timeline -->

    <!-- Maps -->
    <div class="section section-basic section-gray">
        <div class="sr">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center ml-auto mr-auto">
                        <div class="section-description">
                            <h2 class="title">{{ 'frontend.location.title'|trans|raw }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div id="map" class="big-map"></div>
        </div>
    </div>
    {#<div class="section section-basic sr">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-12 mr-auto ml-auto">#}
                    {#<h2 class="title">{{ 'frontend.location.title'|trans|raw }}</h2>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div id="map" class="big-map"></div>#}
    {#</div>#}
    <!-- End Maps -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '../app/Resources/public/js/plugins/flipclock.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!--  Google Maps Plugin    -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"></script>
    <script type="text/javascript">
        function initMap()
        {
            var myLatlng = new google.maps.LatLng(40.3488876, -3.7242733);
            var mapOptions = {
                zoom: 16,
                center: myLatlng,
                scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page
                styles: [{
                    "featureType": "water",
                    "stylers": [{
                        "saturation": 43
                    }, {
                        "lightness": -11
                    }, {
                        "hue": "#0088ff"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "hue": "#ff0000"
                    }, {
                        "saturation": -100
                    }, {
                        "lightness": 99
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#808080"
                    }, {
                        "lightness": 54
                    }]
                }, {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#ece2d9"
                    }]
                }, {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#ccdca1"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#767676"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "color": "#ffffff"
                    }]
                }, {
                    "featureType": "poi",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "landscape.natural",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "visibility": "on"
                    }, {
                        "color": "#b8cb93"
                    }]
                }, {
                    "featureType": "poi.park",
                    "stylers": [{
                        "visibility": "on"
                    }]
                }, {
                    "featureType": "poi.sports_complex",
                    "stylers": [{
                        "visibility": "on"
                    }]
                }, {
                    "featureType": "poi.medical",
                    "stylers": [{
                        "visibility": "on"
                    }]
                }, {
                    "featureType": "poi.business",
                    "stylers": [{
                        "visibility": "simplified"
                    }]
                }]

            };

            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            var marker = new google.maps.Marker({
                position: myLatlng,
                title: "{{ 'frontend.location.title'|trans|striptags }}"
            });

            // To add the marker to the map, call setMap();
            marker.setMap(map);
        }

        $(document).ready(function() {
            // Initialize countdown clock
            var time = Date.parse('{{ wedding_date }}') - Date.parse(new Date());
            var deadline = Math.round(time / 1000);
            $('#countdown').FlipClock(deadline, {
                clockFace: 'DailyCounter',
                language: '{{ app.request.locale }}',
                countdown: true
            });
        });
    </script>
{% endblock %}
