{% extends '@App/base.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block title %}{{ 'frontend.title'|trans }}{% endblock %}

{% block main %}
<div id="first-section" class="section section-basic">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="section-description text-center sr">
                    <h2 class="title">{{ post.title }}</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8 mr-auto ml-auto text-center">
                {% set filepath = post_directory ~ '/' ~ post.coverPicture %}
                <img src="{{ filepath|data_uri }}" class="img-raised rounded img-fluid">             
            </div>
        </div>

        {% if post.content %}
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <p class="description">{{ post.content|raw }}<p>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                {% if pagination|length > 0 %}
                    <div class="media-area">
                        <h3 class="title text-center">{{ 'frontend.post.comments.title'|transchoice(pagination|length, {}, 'AppBundle') }}</h3>
                    </div>

                    {% for comment in pagination %}
                        {{ include('@App/post/partials/comment.html.twig', { 'comment': comment }) }}
                    {% endfor %}

                    <div class="col-8 ml-auto sr">
                        {{ knp_pagination_render(pagination, '@App/partials/knp_pagination.html.twig') }}
                    </div>
                {% endif %}

                <h3 class="title text-center">{{ 'frontend.post.your_comment'|transchoice(pagination|length, {}, 'AppBundle') }}</h3>
                <div class="media media-post">
                    <a class="author float-left">
                        <div class="avatar">
                            {{ include('@App/partials/avatar.html.twig', { 'user': app.user, 'classes': ['media-object', 'img-raised'], 'alt': 'anonymous' }) }}
                        </div>
                    </a>
                    <div class="media-body">
                        {{ form_start(form, {'action': path('post', {'id': post.id})}) }}
                        <div class="form-group bmd-form-group{% if not form.content.vars.valid %} has-danger{% endif %}">
                            {{ form_label(form.content, form.content, {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 5 }}) }}
                            {{ form_errors(form.content) }}
                            {% if not form.content.vars.valid %}
                                <span class="material-icons form-control-feedback">clear</span>
                            {% endif %}
                        </div>

                        <div class="media-footer">
                            <div class="col form-group">
                                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary pull-right'}}) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <!-- end media-post -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
