{% trans_default_domain 'FOSUserBundle' %}

{% if not form.vars.valid %}
    <div class="alert alert-danger">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">error_outline</i>
            </div>
            <strong>{{ 'frontend.error'|trans({}, 'AppBundle') }}</strong> {{ 'frontend.form.error'|trans({}, 'AppBundle') }}
        </div>
    </div>
{% endif %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_change_password')}) }}
<div class="col-md-12 form-group bmd-form-group{% if not form.current_password.vars.valid %} has-danger{% endif %}">
    {{ form_label(form.current_password, form.current_password, {'label_attr': {'class': 'bmd-label-floating'}}) }}
    {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.current_password) }}
    {% if not form.current_password.vars.valid %}
        <span class="material-icons form-control-feedback">clear</span>
    {% endif %}
</div>

<div class="col-md-12 form-group bmd-form-group{% if not form.plainPassword.first.vars.valid %} has-danger{% endif %}">
    {{ form_label(form.plainPassword.first, form.plainPassword.first, {'label_attr': {'class': 'bmd-label-floating'}}) }}
    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
    <span class="bmd-help">{{ 'form.password.help'|trans }}</span>
    {{ form_errors(form.plainPassword.first) }}
    {% if not form.plainPassword.first.vars.valid %}
        <span class="material-icons form-control-feedback">clear</span>
    {% endif %}
</div>

<div class="col-md-12 form-group bmd-form-group{% if not form.plainPassword.second.vars.valid %} has-danger{% endif %}">
    {{ form_label(form.plainPassword.second, form.plainPassword.second, {'label_attr': {'class': 'bmd-label-floating'}}) }}
    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
    <span class="bmd-help">{{ 'form.password.help'|trans }}</span>
    {{ form_errors(form.plainPassword.second) }}
    {% if not form.plainPassword.second.vars.valid %}
        <span class="material-icons form-control-feedback">clear</span>
    {% endif %}
</div>

<div class="col-md-12 form-group bmd-form-group">
    <input type="submit" class="btn btn-primary pull-right" value="{{ 'change_password.submit'|trans }}" />
</div>
{{ form_end(form) }}
