{% extends 'base.html.twig' %}

{% block title %}{{ 'frontend.title'|trans }} - {{ 'frontend.guest.confirm_attendence'|trans }}{% endblock %}

{% block main %}
<div class="section section-basic sr">
    <div class="container">
        <div class="row">
            <div class="col-12 mr-auto ml-auto">
                <h2 class="title">{{ 'frontend.guestbook.title'|trans|raw }}</h2>
                {{ include('AppBundle:guest/partials:card-list.html.twig', {'pagination': pagination}) }}                
            </div>
            
            <div class="col-6 mr-auto ml-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col form-group bmd-form-group{% if not form.name.vars.valid %} has-danger{% endif %}">
                                {{ form_label(form.name, form.name, {'label_attr': {'class': 'bmd-label-floating'}}) }}
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.name) }}
                                {% if not form.name.vars.valid %}
                                    <span class="material-icons form-control-feedback">clear</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group bmd-form-group{% if not form.comment.vars.valid %} has-danger{% endif %}">
                                {{ form_label(form.comment, form.comment, {'label_attr': {'class': 'bmd-label-floating'}}) }}
                                {{ form_widget(form.comment, {'attr': {'class': 'form-control', 'rows': 5}}) }}
                                {{ form_errors(form.comment) }}
                                {% if not form.comment.vars.valid %}
                                    <span class="material-icons form-control-feedback">clear</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-12 form-group">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary pull-right'}}) }}
                        </div>                        
                    </div>
                    {{ form_end(form) }}                    
                </div>
            </div>                        
        </div>
    </div>
</div>
{% endblock %}
