{#{{ include('AppBundle:flash:messages.html.twig', {'flashes': flashes}) }}#}
<div class="card">
    <div class="card-header card-header-primary text-center">
        <h4>Contact Us!</h4>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="col-md-12">
            <div class="form-group bmd-form-group{% if not form.name.vars.valid %} has-error{% endif %}">
                <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">face</i>
                </span>
                    {{ form_widget(form.name, {'attr': {'placeholder': form.name.vars.label }}) }}
                    <span class="material-icons form-control-feedback">clear</span>
                </div>
            </div>

            <div class="form-group bmd-form-group{% if not form.email.vars.valid %} has-error{% endif %}">
                <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">email</i>
                </span>
                    {{ form_widget(form.email, {'attr': {'placeholder': form.email.vars.label }}) }}
                    <span class="material-icons form-control-feedback">clear</span>
                </div>
            </div>

            <div class="form-group bmd-form-group{% if not form.content.vars.valid %} has-error{% endif %}">
                <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">create</i>
                </span>
                    {{ form_widget(form.content, {'attr': {'placeholder': form.content.vars.label, 'rows': 3 }}) }}
                    <span class="material-icons form-control-feedback">clear</span>
                </div>
            </div>
        </div>

        <div class="pull-right">
            <div class="col-md-6">
                {{ form_widget(form.submit) }}
            </div>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>