{% extends '@App/base.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        'bundles/app/css/table-planner.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ 'frontend.title'|trans }} - Mesas{% endblock %}

{% block main %}
    <div id="first-section" class="section section-basic">
        <div class="container">
            <div class="row sr">
                <div class="col-md-8 col-sm-12 ml-auto mr-auto">
                    <div class="section-description text-center">
                        <h2 class="title">Nuestro gran <em>Banquete</em></h2>
			            <p class="description">Revisa la planificación de nuestras mesas para encontrar dónde y con quién te vas a sentar y lo que hemos pedido que os preparen para que tod@s vosotr@s os metais entre pecho y espalda</p>
                    </div>
				</div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12 ml-auto mr-auto">
                    <ul class="nav nav-pills nav-pills-icons nav-pills-primary justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tables" role="tab" data-toggle="tab">
                                <i class="material-icons">view_module</i>
                                Mesas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#menus" role="tab" data-toggle="tab">
                                <i class="material-icons">restaurant_menu</i>
                                Menús
                            </a>
                        </li>
                    </ul>
				</div>
			</div>
		</div>
	</div>

    <div class="tab-content tab-space">
        <div class="tab-pane active" id="tables">
            <div class="section section-basic" style="padding-top:0;">
                <div class="container">
                    {{ include('@App/tables/table-list.html.twig') }}
                </div>
            </div>
        </div>
        <div class="tab-pane" id="menus">
            {% image 'bundles/app/images/aioli-background.jpg' %}
            <div class="section section-line-image" style="background-image: url('{{ asset_url }}');">
                <div class="col-md-6 col-sm-12">
                    {{ include('@App/tables/menu-list.html.twig') }}
                </div>
            </div>
            {% endimage %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            {% for table in pagination %}
                materialKitDemo.renderTable('table_{{ table.id }}', {{ table.seats|length }});
            {% endfor %}

            $('.rounded-table img').hover(function(){
                $(this).addClass('img-transition');
            },function(){
                $(this).removeClass('img-transition');
            });
        });
    </script>

{% endblock %}
