{% block table_planner %}
    {% spaceless %}

    {% set len = table.seats|length %}
    <div class="card card-raised table-planner sr">
        <div class="card-header card-header-primary text-center">
            <h5 class="card-title">{{ table.title }}</h5>
            {% if table.subtitle is not null %}
                <h3 class="card-title">{{ table.subtitle }}</h3>
            {% endif %}
        </div>
        <div class="card-body ">
            <div class="row ">
                <div class="{{ len > 5 ? 'col-md-4' : 'col-md-6' }} col-xs-12">
                    <div class="table-planner-table">
                        <div id="table_{{ table.id }}" class="rounded-table">
				            <span>
                                <p>{{ table.title }}</p>
                                {% if table.subtitle is not null %}
                                    <p>{{ table.subtitle }}</p>
                                {% endif %}
                                {% if table.picture is not null %}
                                    <img src="{{ table.pictureFile.pathName|data_uri }}" alt="table_{{ table.id }}" />
                                {% endif %}
				            </span>
                        </div>
                    </div>
                </div>

                <div class="{{ len > 5 ? 'col-md-4' : 'col-md-6' }} col-xs-12">
                    <div class="card card-plain">
                        <div class="card-body">
                            <ul>
                                {% for seat in table.seats|slice(0, (len / 2)|round) %}
                                    <li><b>{{ loop.index }}</b> {{ seat.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                {% if len > 5 %}
                    <div class="col-md-4 col-xs-12">
                        <div class="card card-plain">
                            <div class="card-body">
                                <ul>
                                    {% for seat in table.seats|slice((len / 2)|round) %}
                                        <li><b>{{ loop.index + ((len / 2)|round) }}</b> {{ seat.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% endspaceless %}
{% endblock table_planner %}