{% extends '@App/base.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/app/css/timeline.css'
    'bundles/app/css/flipclock.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet" type='text/css'>
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ 'frontend.title'|trans }}{% endblock %}

{% block main %}
    <!-- Countdown -->
    <div id="first-section" class="section section-basic sr">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center ml-auto mr-auto">
                    <div class="section-description">
                        <h2 class="title">{{ 'frontend.welcome.title'|trans|raw }}</h2>
                        <p class="description">Han sido muchos años para crearlo, regarlo, mimarlo y hacerlo crecer fuerte y con firmeza. Ha sido un poco menos de tiempo decidir dar el paso. Hablamos de nuestro amor y de nuestra futura boda. Y ahora nos vemos aquí, presentando e informando de todos los datos importantes del evento y en busca de invitados, porque... ¿Pueden existir personas más especiales y maravillosas que vosotr@s para acompañarnos en ese momento? Así que no lo pienses más, ten planeado qué ponerte, el Bodorriol siempre a mano y prepárate para que Nuestro Gran Día sea un día especial también para ti. Confirma tu asistencia rápidamente o te llamaremos sin falta . ¡Y date prisa que cada vez queda menos!.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 mr-auto ml-auto">
                    <div id="countdown" class="clock"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Countdown -->

    <!-- Bio cards -->
    {% image 'bundles/app/images/wedding-rings.jpg' %}
    <div id="#bio-section" class="section section-line-image" style="background-image: url('{{ asset_url }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center ml-auto mr-auto">
                    <div class="section-description">
                        <h2 class="title sr">{{ 'frontend.bio.title'|trans|raw }}</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    {{ include('@App/default/partials/profiles.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    {% endimage %}
    <!-- End Bio cards -->

    <!-- Timeline -->
    <div id="#timeline-section" class="section section-basic section-white-to-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center ml-auto mr-auto">
                    <div class="section-description sr">
                        <h2 class="title">{{ 'frontend.timeline.title'|trans|raw }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mr-auto ml-auto">
                    {{ include('@App/default/partials/timeline.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <!-- End Timeline -->

    <!-- News -->
    <div id="#posts-section" class="section section-basic sr">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12 text-center ml-auto mr-auto">
                    <div class="section-description">
                        <h2 class="title">{{ 'frontend.post.title'|trans|raw }}</h2>
                        <p class="description">{{ 'frontend.post.description'|trans({'%url%': path('post_list')})|raw }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-12 ml-auto mr-auto">
                    {{ carousel() }}
                </div>
            </div>
        </div>
    </div>
    <!-- End News -->

    <!-- Maps -->
    <div id="#buses-section" class="section section-basic section-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center ml-auto mr-auto sr">
                    <div class="section-description">
                        <h2 class="title">Nuestro gran <em>Transporte</em></h2>
                        <p class="description">Despreocúpate, siéntate cómodamente y déja que nuestro transporte te lleve a la celebracíon de Nuestro Gran Día. Para ello hemos puesto para tí dos autobuses que saldrán de dos puntos diferentes:</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 sr">
                <div class="col-md-10 text-center ml-auto mr-auto sr">
                    <h3 class="description">Desde Alcorcón</h3>
                    <p class="description">En la calle Cáceres, 32 (enfrente de Bar Avenida)</p>
                </div>
                <div id="map1" data-lat="40.3443297" data-lng="-3.8337407" data-description="Calle Cáceres, 32, Alcorcón (enfrente de Bar Avenida)" class="map"></div>
            </div>
            <div class="col-md-6 col-sm-12 sr">
                <div class="col-md-10 text-center ml-auto mr-auto sr">
                    <h3 class="description">Desde Fuenlabrada</h3>
                    <p class="description">En la calle Venezuela, 3</p>
                </div>
                <div id="map2" data-lat="40.2879782" data-lng="-3.783311" data-description="Calle Venezuela, 3, Fuenlabrada" class="map"></div>
            </div>
        </div>
    </div>

    <div id="#location-section" class="section section-basic section-purple-gradient">
        <div class="sr">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center ml-auto mr-auto">
                        <div class="section-description">
                            <h2 class="title">{{ 'frontend.location.title'|trans|raw }}</h2>
                            <p class="description">Si prefieres ir por tu propia cuenta, aquí es donde te esperamos:</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="map3" data-lat="40.3490132" data-lng="-3.7239045" data-description="Restaurante Finca Solimpar Bodas" class="map big-map"></div>
        </div>
    </div>
    <!-- End Maps -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'bundles/app/js/plugins/flipclock.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!--  Google Maps Plugin    -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMaps"></script>
    <script type="text/javascript">
        var maps = [];
        var markers = [];
        function initMaps() {
            var $maps = $('.map');
            $.each($maps, function (i, value) {
                var uluru = new google.maps.LatLng(parseFloat($(value).data('lat')), parseFloat($(value).data('lng')));
                var mapDivId = $(value).attr('id');

                maps[mapDivId] = new google.maps.Map(document.getElementById(mapDivId), {
                    zoom: 17,
                    center: uluru
                });

                markers[mapDivId] = new google.maps.Marker({
                    position: uluru,
                    map: maps[mapDivId],
                    title: $(value).data('description')
                });
            })
        }

        $(document).ready(function() {
            {# Initialize countdown clock #}
            var time = Date.parse('{{ wedding_date }}') - Date.parse(new Date());
            var deadline = Math.round(time / 1000);
            $('#countdown').FlipClock(deadline, {
                clockFace: 'DailyCounter',
                language: '{{ app.request.locale }}',
                countdown: true
            });
        });
    </script>
{% endblock %}
