{% if not form.vars.valid %}
    <div class="alert alert-danger">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">error_outline</i>
            </div>
            <b>{{ 'frontend.error'|trans }}</b> {{ 'frontend.form.error'|trans }}
        </div>
    </div>
{% endif %}

<p class="lead text-center description">{{ 'frontend.enquiry.description'|trans }}</p>
{{ form_start(form, {'action': path('enquiry')}) }}
<div class="col-md-12 form-group bmd-form-group{% if not form.name.vars.valid %} has-danger{% endif %}">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="material-icons">face</i>
            </span>
        </div>
        {{ form_widget(form.name, {'attr': {'placeholder': 'frontend.enquiry.placeholder_name'|trans }}) }}
        {{ form_errors(form.name) }}
        {% if not form.name.vars.valid %}
            <span class="material-icons form-control-feedback">clear</span>
        {% endif %}
    </div>
</div>

<div class="col-md-12 form-group bmd-form-group{% if not form.email.vars.valid %} has-danger{% endif %}">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="material-icons">email</i>
            </span>
        </div>
        {{ form_widget(form.email, {'attr': {'placeholder': 'frontend.enquiry.placeholder_email'|trans }}) }}
        {{ form_errors(form.email) }}
        {% if not form.email.vars.valid %}
            <span class="material-icons form-control-feedback">clear</span>
        {% endif %}
    </div>
</div>

<div class="col-md-12 form-group bmd-form-group{% if not form.content.vars.valid %} has-error{% endif %}">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="material-icons">create</i>
            </span>
        </div>
        {{ form_widget(form.content, {'attr': {'placeholder': 'frontend.enquiry.placeholder_content'|trans, 'rows': 5 }}) }}
        {{ form_errors(form.content) }}
        {% if not form.content.vars.valid %}
            <span class="material-icons form-control-feedback">clear</span>
        {% endif %}
    </div>
</div>

<div class="col-md-12 form-group">
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary pull-right'}}) }}
    <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">{{ 'frontend.close'|trans }}</button>
</div>
{{ form_end(form) }}
