<div class="col-12">
    <div class="timeline">
        <div class="timeline-item sr">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-star"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2006</h4>
                </div>
                <div class="timeline-body">
                    <p>Todos pensaréis que como que nos conocemos desde esta fecha y nuestra historia de amor no comienza hasta el 2013. Fruto de la casualidad mediante unos amigos y familiares en un garito de Leganés, donde nos echamos ya el ojo, pero la cosa no fraguó... Éramos demasiado jóvenes y necesitábamos más vida.</p>
                </div>
            </div>
        </div>

        <div class="timeline-item sr">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-star"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2012</h4>
                </div>
                <div class="timeline-body">
                    <p>Llega a nuestra vida May, una nena rubia muy guapa y peluda, tímida al principio pero que la pierde si muestras un poco de confianza y algo de comida en la mano.</p>
                    <div class="col-md-3 media">
                        {% image '../app/Resources/public/images/may.jpg' %}
                        <img alt="May" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item sr">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-star"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2013</h4>
                </div>
                <div class="timeline-body">
                    <p>Después de 6 años continuando en contacto, decidimos quedar. Una cena, un monólogo y una copa hizo que nunca más nos volviéramos a separar.</p>
                </div>
            </div>
        </div>

        <div class="timeline-item sr">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-home"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2014</h4>
                </div>
                <div class="timeline-body">
                    <p>Después de haber probado la experiencia de vivir juntos y sobrevivir a la convivencia damos otro paso: ¡nos casamos!... con el banco durante 30 años <i class="fa fa-smile-o" aria-hidden="true"></i></p>
                    <div class="col-md-3 media">
                        {% image '../app/Resources/public/images/writings.jpg' %}
                        <img alt="Escriturando" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item sr">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-heart"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2017</h4>
                </div>
                <div class="timeline-body">
                    <p>Un fin de semana romántico, como muchos otros que hemos tenido. Pero esta vez esconde una gran pregunta con dos únicas palabras como respuesta: ¡Sí quiero!. ¡Gente!... ¡Que nos casamos!.</p>
                    <div class="col-md-3 media">
                        {% image '../app/Resources/public/images/heart.jpg' %}
                        <img alt="Románticismo" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item sr">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-star"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2017</h4>
                </div>
                <div class="timeline-body">
                    <p>¡La familia crece!. Se amplía la familia Navarro Buitrago y en junio nace nuestro pequeño Hugo. Se hizo de rogar y nos quita horas de sueño... ¡Y lo que nos queda!. Pero todo merece la pena por la felicidad que nos aporta.</p>
                    <div class="col-md-3 media">
                        {% image '../app/Resources/public/images/baby.jpg' %}
                        <img alt="Nuestra gran alegría" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item sr">
            <div class="timeline-point timeline-point-primary">
                <i class="fa fa-flag-checkered"></i>
            </div>
            <div class="timeline-event timeline-event-primary">
                <div class="timeline-heading">
                    <h4>2018</h4>
                </div>
                <div class="timeline-body">
                    <p>¡Nuestro gran día! Llevamos mucho tiempo compartido, con buenos, regulares y malos momentos. Pero siempre juntos. Y es que... ¡la familia unida jamás será vencida!.</p>
                    <div class="col-md-3 media">
                        {% image '../app/Resources/public/images/family.jpg' %}
                        <img alt="Familia" class="img-raised rounded-circle img-fluid" src="{{ asset_url }}">
                        {% endimage %}
                    </div>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">14-Sept-2018</p>
                </div>
            </div>
        </div>
        <span class="timeline-label sr">
            <span class="badge label-primary">Continuará . . .</span>
        </span>
    </div>
</div>
