{% extends ':Frontend:bases/base-email-user-layout.html.twig' %}

{% block subject %}
{%- autoescape false -%}
    Recordatorio de registro web no terminado
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
Hola {{ user.name }}!

Te recordamos que te diste de alta a {{ user.registrationDate | date('d-m-Y') }}, sin embargo, aún no has validado tu email.
Para validar su email, pulse sobre el enlace o cópielo y acceda con su navegador favorito.
{{ url }}

Un cordial saludo del equipo de EI.
{% endautoescape %}
{% endblock %}

{% block content_html %}
<p>Hola <strong>{{ user.name }}</strong>!</p>
<p>Te recordamos que te diste de alta a {{ user.registrationDate | date('d-m-Y') }}, sin embargo,
    aún no has validado tu email. Puedes hacerlo <a href="{{ url }}" target="_blank">aquí</a>.</p>

<hr />

<p><small>Atentamente,</small><br/>
<small>el equipo de Estrategias de Inversión.</small></p>
{% endblock %}
