{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'registration.title'|trans }}{% endblock %}

{% block fos_user_content %}
    <div class="content">
        <div class="row">
            <div class="col-md-8 col-xs-12 ml-auto mr-auto">
                <div class="card card-signup">
                    <div class="card-header card-header-primary text-center">
                        <h4 class="card-title">{{ 'registration.title'|trans({}, 'FOSUserBundle') }}</h4>
                        {#<div class="social-line">#}
                            {#<a href="#pablo" class="btn btn-just-icon btn-link">#}
                                {#<i class="fa fa-facebook-square"></i>#}
                            {#</a>#}
                            {#<a href="#pablo" class="btn btn-just-icon btn-link">#}
                                {#<i class="fa fa-twitter-square"></i>#}
                            {#</a>#}
                            {#<a href="#pablo" class="btn btn-just-icon btn-link">#}
                                {#<i class="fa fa-google-plus-official"></i>#}
                                {#<div class="ripple-container"></div>#}
                            {#</a>#}
                        {#</div>#}
                    </div>
                    <div class="card-body">
                        {% include "@FOSUser/Registration/register_content.html.twig" %}
                    </div>
                    <div class="card-footer">
                        <div class="col-md-6 col-xs-12">
                            <a href="{{ path('fos_user_security_login') }}">
                                <h6 class="text-left">{{ 'registration.login'|trans }}</h6>
                            </a>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <a href="{{ path('homepage') }}">
                                <h6 class="text-right">{{ 'registration.back'|trans }}</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}

