{% trans_default_domain 'AppBundle' %}
 <nav id="cd-vertical-nav">
    <ul>
        <li>
          <a href="#first-section" data-number="1">
            <span class="cd-dot"></span>
            <span class="cd-label">{{ 'frontend.welcome.title'|trans|striptags }}</span>
          </a>
        </li>
        <li>
          <a href="#bio-section" data-number="2">
            <span class="cd-dot"></span>
            <span class="cd-label">{{ 'frontend.bio.title'|trans|striptags }}</span>
          </a>
        </li>
        <li>
          <a href="#timeline-section" data-number="3">
            <span class="cd-dot"></span>
            <span class="cd-label">{{ 'frontend.timeline.title'|trans|striptags }}</span>
          </a>
        </li>
        <li>
          <a href="#posts-section" data-number="4">
            <span class="cd-dot"></span>
            <span class="cd-label">{{ 'frontend.post.title'|trans|striptags }}</span>
          </a>
        </li>
        <li>
          <a href="#location-section" data-number="5">
            <span class="cd-dot"></span>
            <span class="cd-label">{{ 'frontend.location.title'|trans|striptags }}</span>
          </a>
        </li>
      </ul>
    </nav>
