{% extends 'base.html.twig' %}

{% block title %}Our Great Day! - Confirm attendence{% endblock %}

{% block main %}
    <div class="section section-basic sr">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="title text-center">Our Great <em>Guests</em></h2>
                    <div class="description-page text-center">
                        <h4>Confirm your attendence!</h4>
                        <p>
                            This information will let us know more about youddfa  daf adf adf dsf adfs adf df asf d.
                            adfasdfsdf adsf adf adf adf adsf  asdf adf adf adaf adf adf adf a fadf adf afa dadfadf
                            asdfdas adfa asdfasdf dasf adsf adf afd adsfdf asf df.
                        </p>
                    </div>

                    <div class="col-md-8 col-md-offset-2">
                        <div class="card card-raised">
                            <div class="content">
                                <div class="profile-tabs">
                                    <div class="nav-align-center">
                                        <ul class="nav nav-pills" role="tablist">
                                            <li class="{% if app.request.attributes.get('_route') == 'guest' %} active{% endif %}">
                                                <a href="{{ path('guest') }}">
                                                    <h4 class="list-group-item-heading">Step 1</h4>
                                                    <p class="list-group-item-text">First step description</p>
                                                </a>
                                            </li>
                                            <li class="{% if app.request.attributes.get('_route') == 'guest_confirm' %} active{% else %}disabled{% endif %}">
                                                <a href="{{ app.request.baseUrl }}">
                                                    <h4 class="list-group-item-heading">Step 2</h4>
                                                    <p class="list-group-item-text">Second step description</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                {#{{ flash_messages() }}#}
                                <div class="content">
                                    {{ form_start(form) }}
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            {{ form_label(form.firstname) }}
                                            {{ form_widget(form.firstname) }}
                                            <span class="material-icons form-control-feedback">clear</span>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            {{ form_label(form.lastname) }}
                                            {{ form_widget(form.lastname) }}
                                            <span class="material-icons form-control-feedback">clear</span>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            {{ form_label(form.email) }}
                                            {{ form_widget(form.email) }}
                                            <span class="material-icons form-control-feedback">clear</span>
                                        </div>
                                    </div>

                                    {% if form.guests is defined %}
                                        <div class="col-md-4">
                                            {{ form_label(form.guests) }}
                                            {{ form_widget(form.guests) }}
                                        </div>
                                    {% endif %}

                                    {% if form.childs is defined %}
                                        <div class="col-md-4">
                                            {{ form_label(form.childs) }}
                                            {{ form_widget(form.childs) }}
                                        </div>
                                    {% endif %}

                                    {% if form.vegans is defined %}
                                        <div class="col-md-4">
                                            {{ form_label(form.vegans) }}
                                            {{ form_widget(form.vegans) }}
                                        </div>
                                    {% endif %}

                                    {% if form.attending is defined %}
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                {{ form_label(form.attending) }}
                                                <div class="radio">
                                                    {#{% for child in form.attending.children %}#}
                                                    {% for child in form.attending %}
                                                        <label class="radio-inline">{{ form_widget(child) }} {{ child.vars.label }}</label>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="pull-right">
                                        <div class="col-md-12">
                                            {{ form_widget(form.submit) }}
                                        </div>
                                    </div>

                                    {{ form_rest(form) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}