{% extends ':Frontend:bases/base-email-user-layout.html.twig' %}

{% block subject %}
{%- autoescape false -%}
{{ 'Renovación suscripción en Estrategias de Inversión!'|trans }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
Hola {{ suscription.idUser.name|default(suscription.idUser.username) }}!

Se ha llevado a cabo la renovación de su suscripción "{{ suscription.getDescription() }}" de Estrategias de Inversión.

Precio de la suscripción:
{% if suscription.idPrice %}
    {{ suscription.idPrice.idRate|rate_price_format }}.
{% else %}
    {{ suscription.idPromotion|rate_price_format }}.
{% endif %}

Recibe revista a domicilio:
{% if suscription.hasMagazine() %}Sí{% else %}No{% endif %}.

Finalización de la suscripción:
{{ suscription.endingDate|localizeddate("medium", "short", null, null, "dd/MM/yyyy 'a las' H:mm 'h.'"|trans) }}


{% if  suscription.idPaymentMethod.isWireTransfer() %}
Su suscripción será habilitada cuando comprobemos que ha realizado la transferencia bancaria.
Datos de la transferencia:

{{ suscription.idPaymentMethod.notes|br2nl|striptags|htmlEntityDecode }}


{% endif %}
Esperamos que disfrute de todo lo que le ofrecemos y recuerde que estamos a su disposición para cualquier cuestión que le surja en {{ base_url }} y telefónicamente en el número 902 99 52 88 (laborales de 10 a 18h.).

Atentamente,
el equipo de Estrategias de Inversión.

{% endautoescape %}
{% endblock %}

{% block content_html %}
<p>Hola <strong>{{ suscription.idUser.name|default(suscription.idUser.username) }}!</strong></p>

<p>Se ha llevado a cabo la renovación de su suscripción "{{ suscription.getDescription() }}" de Estrategias de Inversión.</p>

<table>
    <tbody>
        <tr>
            <td width="250px"><strong>Precio de la suscripción<strong>:</td>
            <td>
                {% if suscription.idPrice %}
                    {{ suscription.idPrice.idRate|rate_price_format }}
                {% else %}
                    {{ suscription.idPromotion|rate_price_format }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td width="250px"><strong>Recibe revista a domicilio<strong>:</td>
            <td>{% if suscription.hasMagazine() %}Sí{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <td width="250px"><strong>Finalización de la suscripción<strong>:</td>
            <td>{{ suscription.endingDate|localizeddate("medium", "short", null, null, "dd/MM/yyyy 'a las' H:mm 'h.'"|trans) }}</td>
        </tr>
    </tbody>
    {% if  suscription.idPaymentMethod.isWireTransfer() %}
    <tfoot>
        <tr>
            <td colspan="2">
                <p><span style="color: #cb1c21; font-weight: bold;">ATENCIÓN:</span><br />
                   Su suscripción será habilitada cuando comprobemos que ha realizado la transferencia bancaria.<br />
                   Datos de la transferencia:
                </p>
                <p>{{ suscription.idPaymentMethod.notes }}</p>
            </td>
        </tr>
    </tfoot>
    {% endif %}
</table>

<p>Esperamos que disfrute de todo lo que le ofrecemos y recuerde que estamos a su disposición para cualquier cuestión que le surja en {{ base_url }} y telefónicamente en el número 902 99 52 88 (laborales de 10 a 18h.).</p>

<hr />

<p><small>Atentamente,</small><br/>
<small>el equipo de Estrategias de Inversión.</small></p>
{% endblock %}