{% if pageCount > 1 %}
    <ul class="pagination pagination-primary">
        {% if first is defined and current != first %}
            <li class="page-item"><a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="page-link"><i class="material-icons">first_page</i></a></li>
        {% endif %}

        {% if previous is defined %}
            <li class="page-item"><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="page-link"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}

        {% for page in pagesInRange %}
            <li class="page-item{% if page == current %} active{% endif %}">
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="page-link">{{ page }}</a>
            </li>
        {% endfor %}

        {% if next is defined %}
            <li class="page-item"><a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="page-link"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}

        {% if last is defined and current != last %}
            <li class="page-item"><a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="page-link"><i class="material-icons">last_page</i></a></li>
        {% endif %}
    </ul>
{% endif %}
