{% trans_default_domain 'FOSUserBundle' %}

{% if not form.vars.valid %}
    <div class="alert alert-danger">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">error_outline</i>
            </div>
            <strong>{{ 'frontend.error'|trans({}, 'AppBundle') }}</strong> {{ 'form.error'|trans({}, 'validators') }}
        </div>
    </div>
{% endif %}

{{ form_start(form, { 'action': path('fos_user_profile_edit') }) }}
    <div class="row">
        <div class="col-md-12 text-center">
            {{ form_row(form.pictureFile) }}
        </div>
    </div>

    <div class="row">
        <div class="col form-group bmd-form-group{% if not form.email.vars.valid %} has-danger{% endif %}">
            {{ form_label(form.email, form.email, {'label_attr': {'class': 'bmd-label-floating'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
            {#<span class="bmd-help">We'll never share your email with anyone else.</span>#}
            {% if not form.email.vars.valid %}
                <span class="material-icons form-control-feedback">clear</span>
            {% endif %}
        </div>
        <div class="col form-group bmd-form-group{% if not form.username.vars.valid %} has-danger{% endif %}">
            {{ form_label(form.username, form.username, {'label_attr': {'class': 'bmd-label-floating'}}) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.username) }}
            {#<span class="bmd-help">We'll never share your email with anyone else.</span>#}
            {% if not form.username.vars.valid %}
                <span class="material-icons form-control-feedback">clear</span>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col form-group bmd-form-group{% if not form.firstname.vars.valid %} has-danger{% endif %}">
            {{ form_label(form.firstname, form.firstname, {'label_attr': {'class': 'bmd-label-floating'}}) }}
            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.firstname) }}
            {#<span class="bmd-help">We'll never share your email with anyone else.</span>#}
            {% if not form.firstname.vars.valid %}
                <span class="material-icons form-control-feedback">clear</span>
            {% endif %}
        </div>
        <div class="col form-group bmd-form-group{% if not form.lastname.vars.valid %} has-danger{% endif %}">
            {{ form_label(form.lastname, form.lastname, {'label_attr': {'class': 'bmd-label-floating'}}) }}
            {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.lastname) }}
            {#<span class="bmd-help">We'll never share your email with anyone else.</span>#}
            {% if not form.lastname.vars.valid %}
                <span class="material-icons form-control-feedback">clear</span>
            {% endif %}
        </div>
    </div>
    
    <div class="row">
        <div class="col form-group bmd-form-group">
            {{ form_label(form.gender) }}
            <div class="form-check form-check-inline">
                {% for child in form.gender %}
                <label class="form-check-label">
                    {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }} {{ child.vars.label|trans }}
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
                {% endfor %}
            </div>
        </div>
    </div>    

    <div class="col form-group bmd-form-group">
        <input type="submit" class="btn btn-primary pull-right" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
