{% if pagination|length > 0 %}
    <div class="col-12">
        {% set colors = ['blue', 'azure', 'black', 'orange', 'red', 'green', 'rose'] %}
        {% for row in pagination|batch(3) %}
            <div class="row">
                {% for entry in row %}
                    {% set color = colors[(entry.createdAt|date('U')) % 7] %}
                    <div class="col-4">
                        <div class="card bg-success">
                            <div class="card-body ">
                                <div class="card-category pull-right">
                                    <i class="material-icons">schedule</i> {{ entry.createdAt|elapsed_time }}
                                </div>
                                <h4 class="card-title justify-content-center">{{ entry.content }}</h4>
                            </div>
                            <div class="card-footer">
                                <div class="author">
                                    <img src="assets/img/kit/pro/faces/avatar.jpg" alt="..." class="avatar img-raised">
                                    <span>{{ entry.author }}</span>
                                </div>
                                <div class="stats ml-auto">
                                    <a href="{{ path('guestbook_like', {'id': entry.id, 'page': page}) }}" class="badge badge-danger">
                                        <i class="fa fa-heart"></i> {{ entry.likes }}
                                    </a>
                                </div>
                           </div>                            
                        </div>                    
                    </div>
                    
                    
                    <div class="card-box col-md-4 col-sm-6">
                        <div class="card card-with-border" data-background="color" data-color="{{ color }}">
                            <div class="header">
                                <div class="category pull-right">
                                    <i class="material-icons">schedule</i> {{ entry.createdAt|elapsed_time }}
                                </div>
                            </div>
                            <div class="content text-center">
                                <p class="description">Your friend <b>Michael Osborn</b> has sent you a hipster gift card.</p><br>
                            </div>
                            <div class="footer">
                                <div class="author">
                                    <a href="#pablo">
                                        <img src="assets/img/faces/avatar.jpg" alt="..." class="avatar img-raised">
                                        <span>{{ entry.author }}</span>
                                    </a>
                                    <div class="stats">
                                        <a href="{{ path('guestbook_like', {'id': entry.id}) }}">
                                            <i class="material-icons">favorite</i> {{ entry.likes }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="col-8 ml-auto">
        {#{{ knp_pagination_render(pagination, 'AppBundle:pagination:pagination.html.twig') }}#}
    </div>
{% endif %}
