{% if pagination|length > 0 %}
    <div class="col-12">
        {% set styles = ['primary', 'info', 'success', 'warning', 'danger', 'rose'] %}
        {% for row in pagination|batch(3) %}
            <div class="row">
                {% for entry in row %}
                    {% set style = styles[(entry.createdAt|date('U')) % (styles|length)] %}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
                        <div class="card bg-{{ style }}">
                            <div class="card-body">
                                <div class="card-category text-right">
                                    <i class="material-icons">schedule</i> {{ entry.publishedAt|elapsed_time }}
                                </div>
                                <h4 class="card-title justify-content-center">{{ entry.comment }}</h4>
                            </div>
                            <div class="card-footer">
                                <div class="author">
                                    {% image '../app/Resources/public/images/albertusko.png' output='assets/images/albertusko.png' %}
                                    <img src="{{ asset_url }}" alt="{{ entry.name }}" class="avatar img-raised">
                                    {% endimage %}
                                    <span>{{ entry.name }}</span>
                                </div>
                                <div class="stats ml-auto">
                                    <a href="{{ path('guestbook_like', {'id': entry.id}) }}" class="badge badge-danger" title="{{'frontend.guestbook.likes.tooltip'|trans}}" data-toggle="tooltip">
                                        <i class="fa fa-heart"></i>  {{ entry.likes }}
                                    </a>
                                </div>
                           </div>                            
                        </div>                    
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="col-8 ml-auto">
        {{ knp_pagination_render(pagination, 'partials/knp_pagination.html.twig') }}
    </div>
{% endif %}
