{% if pagination|length > 0 %}
    <div class="col-12">
        {% set colors = ['blue', 'azure', 'black', 'orange', 'red', 'green', 'rose'] %}
        {% for row in pagination|batch(3) %}
            <div class="row">
                {% for entry in row %}
                    {% set color = colors[(entry.createdAt|date('U')) % 7] %}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-xs-12">
                        <div class="card bg-danger">
                            <div class="card-body">
                                <div class="card-category text-right">
                                    <i class="material-icons">schedule</i> {{ entry.publishedAt|elapsed_time }}
                                </div>
                                <h4 class="card-title justify-content-center">{{ entry.comment }}</h4>
                            </div>
                            <div class="card-footer">
                                <div class="author">
                                    {% image '../app/Resources/public/images/albertusko.png' output='assets/images/albertusko.png' %}
                                    <img src="{{ asset_url }}" alt="{{ entry.name }}" class="avatar img-raised">
                                    {% endimage %}
                                    <span>{{ entry.name }}</span>
                                </div>
                                <div class="stats ml-auto">
                                    <a href="{{ path('guestbook_like', {'id': entry.id}) }}" class="badge badge-danger">
                                        <i class="fa fa-heart"></i>  {{ entry.likes }}
                                    </a>
                                </div>
                           </div>                            
                        </div>                    
                    </div>
                    
                    
                    {#<div class="card-box col-md-4 col-sm-6">#}
                        {#<div class="card card-with-border" data-background="color" data-color="{{ color }}">#}
                            {#<div class="header">#}
                                {#<div class="category pull-right">#}
                                    {#<i class="material-icons">schedule</i> {{ entry.createdAt|elapsed_time }}#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="content text-center">#}
                                {#<p class="description">Your friend <b>Michael Osborn</b> has sent you a hipster gift card.</p><br>#}
                            {#</div>#}
                            {#<div class="footer">#}
                                {#<div class="author">#}
                                    {#<a href="#pablo">#}
                                        {#<img src="assets/img/faces/avatar.jpg" alt="..." class="avatar img-raised">#}
                                        {#<span>{{ entry.author }}</span>#}
                                    {#</a>#}
                                    {#<div class="stats">#}
                                        {#<a href="{{ path('guestbook_like', {'id': entry.id}) }}">#}
                                            {#<i class="material-icons">favorite</i> {{ entry.likes }}#}
                                        {#</a>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div> <!-- end card -->#}
                    {#</div>#}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="col-8 ml-auto">
        {{ knp_pagination_render(pagination, 'partials/knp_pagination.html.twig') }}
    </div>
{% endif %}
