{% if pagination|length > 0 %}
    <div class="col-md-12">
        {% set colors = ['blue', 'azure', 'black', 'orange', 'red', 'green', 'rose'] %}
        {% for row in pagination|batch(3) %}
            <div class="row">
                {% for entry in row %}
                    {% set color = colors[(entry.createdAt|date('U')) % 7] %}
                    
                        <div class="card bg-success">
                            <div class="card-body ">
                                <h5 class="card-category card-category-social">
                                    <i class="fa fa-newspaper-o"></i> TechCrunch
                                </h5>
                                <h4 class="card-title">
                                    <a href="#pablo">"Focus on Your Employees"</a>
                                </h4>
                                <p class="card-description">
                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <div class="card-stats justify-content-center">
                                    <a href="#pablo" class="btn btn-white btn-round">Read Article</a>
                                </div>
                            </div>
                        </div>                    
                    
                    
                    
                    <div class="card-box col-md-4 col-sm-6">
                        <div class="card card-with-border" data-background="color" data-color="{{ color }}">
                            <div class="header">
                                <div class="category pull-right">
                                    <i class="material-icons">schedule</i> {{ entry.createdAt|elapsed_time }}
                                </div>
                            </div>
                            <div class="content text-center">
                                <p class="description">Your friend <b>Michael Osborn</b> has sent you a hipster gift card.</p><br>
                            </div>
                            <div class="footer">
                                <div class="author">
                                    <a href="#pablo">
                                        <img src="assets/img/faces/avatar.jpg" alt="..." class="avatar img-raised">
                                        <span>{{ entry.author }}</span>
                                    </a>
                                    <div class="stats">
                                        <a href="{{ path('guestbook_like', {'id': entry.id}) }}">
                                            <i class="material-icons">favorite</i> {{ entry.likes }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="col-md-8 col-md-offset-2">
        {#{{ knp_pagination_render(pagination, 'AppBundle:pagination:pagination.html.twig') }}#}
    </div>
{% endif %}
